* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px solid rgb(52, 209, 52); 
}

:root {
    /* Primary colors */
    --Light-red-CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);

    /*** NEUTRAL COLORS ****/
    --White-text: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

    /* ### Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */

    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

a,
li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin: 8px;
}

body {
    font-family: "Overpass", sans-serif;
}
